<%- model_class_vs = VotingSession -%>

<% title t('.title', :name => @agenda.official_law_title.present? ? @agenda.official_law_title : @agenda.name, :date => l(@agenda.conference.start_date, :format => :no_zone)).html_safe %>

<div id="agenda_description">
  <ul>
    <li>
      <strong><%= Conference.human_attribute_name(:start_date) %>:</strong>
      <%= l(@agenda.conference.start_date, :format => :no_zone) %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:parliament_id) %>:</strong>
      <%= @agenda.parliament.name %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:number_possible_members) %>:</strong>
      <%= @agenda.number_possible_members %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:official_law_title) %>:</strong>
      <%= @agenda.official_law_title %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:law_title) %>:</strong>
      <%= @agenda.law_title %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:law_description) %>:</strong>
      <%= @agenda.law_description %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:session_number) %>:</strong>
      <%= @agenda.session_number %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:registration_number) %>:</strong>
      <%= @agenda.registration_number %>
    </li>    
    <li>
      <strong><%= Agenda.human_attribute_name(:name) %>:</strong>
      <%= @agenda.name %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:description) %>:</strong>
      <%= @agenda.description %>
    </li>    

    <% if @agenda.voting_session.present? && @agenda.voting_session.voting_results.present? %>
      <li id="results_description">
        <strong><%= VotingSession.human_attribute_name(:voting_conclusion) %>:</strong>
        <%= simple_format @agenda.voting_session.voting_conclusion %>
      </li>
    <% end %>
    <% if @agenda.is_final_version? %>
      <li>
        <strong><%= Agenda.human_attribute_name(:law_id) %>:</strong>
        <%= @agenda.law_id %>
      </li>    
      <li>
        <strong><%= Agenda.human_attribute_name(:law_url_text) %>:</strong>
        <% if @agenda.law_url_text.present? %>
          <%= link_to( 
            t('helpers.links.view'), 
            "#law_url_text", :id => 'fancybox_inline', :class => 'btn btn-mini', :target => :blank) %>
          <div style="display:none;">
            <div id="law_url_text">
              <%= @agenda.law_url_text.force_encoding("UTF-8").html_safe %>
            </div>
          </div>
        <% elsif @agenda.law_file_file_name.present? %>
          <%= link_to( 
            t('helpers.links.view'), 
            @agenda.law_file.url, :id => 'fancybox_pdf', :class => 'btn btn-mini', :target => :blank) %>
        <% end %>
      </li>    
      <li>
        <strong><%= Agenda.human_attribute_name(:is_public) %>:</strong>
        <% if @agenda.is_public %>
          <span class="law_is_public">
            <%= t('helpers.boolean.y') %> - 
            <%= t('app.common.made_public_on', :date => l(@agenda.made_public_at, :format => :no_zone)) %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
  
</div>

<% if @agenda.voting_session.present? && @agenda.voting_session.voting_results.present? %>
  <div id="agenda_counts">
    <table class="display table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= model_class_vs.human_attribute_name(:result1_alt) %></th>
          <th><%= model_class_vs.human_attribute_name(:result3_alt) %></th>
          <% if @agenda.parliament_id == 2 %>
            <th><%= t('helpers.boolean.abstain') %></th>
            <th><%= t('helpers.links.not_present') %></th>
          <% else %>
            <th><%= t('helpers.links.abstain2') %></th>
            <th><%= t('helpers.links.not_present2') %></th>
          <% end %>
        </tr>
      </thead>
      <% if @agenda.parliament_id != 2 %>
        <tfoot>
          <tr>
            <td colspan="4">
              <p>
                <%= t('helpers.links.abstain2_footnote') %>
              </p>
              <p>
                <%= t('helpers.links.not_present2_footnote') %>
              </p>
            </td>
          </tr>
        </tfoot>
      <% end %>
      <tbody>
        <tr>
          <td>
            <%= @agenda.total_yes %>
          </td>
          <td>
            <%= @agenda.total_no %>
          </td>
          <td>
            <%= @agenda.total_abstain %>
          </td>
          <td>
            <%= @agenda.total_not_present %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <% if current_user.role?(User::ROLES[:process_files]) %>
    <div id="add_buttons">
      <p>
        <% if @agenda.is_law %>
          <%= link_to t('helpers.links.edit_law'), admin_edit_agenda_path(@agenda.id), :class => 'btn btn-success fancybox' %>

          <%= link_to t('helpers.links.add_vote'), admin_add_vote_path(@agenda.id), :class => 'btn btn-success fancybox' %>
        <% else %>
          <%= link_to t('helpers.links.make_law'), admin_edit_agenda_path(@agenda.id), :class => 'btn btn-success fancybox' %>
        <% end %>
      </p>
    
    </div>
  <% end %>

  <table id="voting_results_datatable" class="display table table-striped table-bordered" 
        data-source="<%= admin_search_voting_results_url(:voting_session_id => @agenda.voting_session.id, :format => :json) %>">
    <thead>
      <tr>
        <th></th>
        <th><%= Delegate.human_attribute_name(:first_name) %></th>
        <th><%= Delegate.human_attribute_name(:title) %></th>
        <th><%= Group.human_attribute_name(:short_name) %></th>
        <th><%= VotingResult.human_attribute_name(:present) %></th>
        <th><%= VotingResult.human_attribute_name(:vote) %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
<% else %>
  <p>
    <%= t('.no_results') %>
  </p>
<% end %>
