<% title t('.title') %>

<table id="deleted_files_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_deleted_files_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= UploadFile.human_attribute_name(:deleted_at) %></th>
      <th><%= Conference.human_attribute_name(:name) %></th>
      <th><%= Conference.human_attribute_name(:start_date) %></th>
      <th><%= UploadFile.human_attribute_name(:number_possible_members) %></th>
      <th><%= Conference.human_attribute_name(:number_laws) %></th>
      <th><%= Conference.human_attribute_name(:number_sessions) %></th>
      <th><%= UploadFile.human_attribute_name(:xml) %></th>
      <th><%= UploadFile.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

