<% title t('.title') %>

<% if @conference && @upload_file %>

<%= semantic_form_for @upload_file, :url => admin_edit_conference_path(params[:id]), :method => :post do |f| %>
	<%= f.error_messages %>

  <div id="edit_form_heading">
    <p>
      <%= t('.conference', :name => @conference.name, :date => l(@conference.start_date, :format => :no_zone)) %>
    </p>

  </div>

	<%= f.inputs do %>
		<%= f.input :parliament, :include_blank => false %>
		<%= f.input :number_possible_members, :as => :string, :input_html => {:size => 5, :maxlength => 3} %>
	<% end %>

  <div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<% else %>

  <p>
    <%= t('.not_found') %>
  </p>

<% end %>
