<% title t('.title') %>

<table id="laws_datatable" class="display table table-striped table-bordered" 
      data-source="<%= admin_search_laws_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= Agenda.human_attribute_name(:official_law_title) %></th>
      <th><%= Agenda.human_attribute_name(:law_title) %></th>
      <th><%= Agenda.human_attribute_name(:law_description) %></th>
      <th><%= Agenda.human_attribute_name(:registration_number) %></th>
      <th><%= VotingSession.human_attribute_name(:passed_yn) %></th>
      <th><%= Agenda.human_attribute_name(:law_id) %></th>
      <th><%= Agenda.human_attribute_name(:session_number1_id) %></th>
      <th><%= Agenda.human_attribute_name(:session_number2_id) %></th>
      <th><%= t('.can_publish') %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

