<%- model_class = AllDelegate -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
<%= link_to t('helpers.links.admin'), admin_path,
:class => 'btn' %>
</div>

<div id="parliament_options">
  <label><%= model_class.human_attribute_name(:parliament_id) %>:</label>
  <% @parliaments.each_with_index do |p, index| %>
    <label for="<%= p.id%>" class="checkbox inline">
      <%
        checked = false
        checked = true if @parl_ids.present? && @parl_ids.index(p.id.to_s).present?
        checked = true if !@parl_ids.present? && index == 0
      %>
      <%= check_box_tag 'all_delegates_options_checkbox', p.id, checked, :id => p.id, :'data-start' => p.start_year, :'data-end' => p.end_year %>
      <%= p.name_formatted %>
    </label>
  <% end %>
</div>
<table id="all_delegates_datatable" class="display table table-striped table-bordered" 
      data-source="<%= admin_search_all_delegates_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:started_at) %></th>
      <th><%= model_class.human_attribute_name(:ended_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

