<% title t('.title', :name => @agenda.name, :date => l(@agenda.conference.start_date, :format => :no_zone)) %>

<div id="agenda_description">
  <%= simple_format @agenda.description %>
</div>

<% if @agenda.voting_session.present? && @agenda.voting_session.voting_results.present? %>
  <div id="results_description">
    <%= simple_format @agenda.voting_session.voting_conclusion %>
  </div>

  <div id="agenda_counts">
    <ul>
      <li>
        <span><%= t('helpers.boolean.y') %>:</span>
        <%= @agenda.total_yes %>
      </li>
      <li>
        <span><%= t('helpers.boolean.n') %>:</span>
        <%= @agenda.total_no %>
      </li>
      <li>
        <span><%= t('.not_present') %>:</span>
        <%= @agenda.total_not_present %>
      </li>
    </ul>
  </div>


  <% if @agenda.is_law && current_user.role?(User::ROLES[:process_files]) %>
    <div id="add_buttons">
      <p>
        <%= link_to t('helpers.links.add_vote'), add_vote_path(@agenda.id), :class => 'btn btn-success fancybox' %>
      </p>
    
      <% if @agenda.is_final_version? %>
        <p>
          <%= link_to @agenda.law_url.present? || @agenda.law_id.present? ? t('helpers.links.edit_law_url') : t('helpers.links.add_law_url'), 
              add_url_path(@agenda.id), :class => 'btn btn-success fancybox' %>
          <% if @agenda.law_url.present? %>
            <%= link_to( 
                @agenda.law_id.present? ? "#{t('activerecord.attributes.agenda.law_id')}: #{@agenda.law_id}" : t('helpers.links.view_law_url'), 
                @agenda.law_url, :class => 'btn', :target => :blank) %>
          <% elsif @agenda.law_id.present? %>
            <%= "#{t('activerecord.attributes.agenda.law_id')}: #{@agenda.law_id}" %>
          <% end %>
        </p>
      <% end %>

    </div>
  <% end %>

  <table id="voting_results_datatable" class="display table table-striped table-bordered" 
        data-source="<%= search_voting_results_url(:voting_session_id => @agenda.voting_session.id, :format => :json) %>">
    <thead>
      <tr>
        <th></th>
        <th><%= Delegate.human_attribute_name(:first_name) %></th>
        <th><%= Delegate.human_attribute_name(:title) %></th>
        <th><%= Group.human_attribute_name(:short_name) %></th>
        <th><%= VotingResult.human_attribute_name(:present) %></th>
        <th><%= VotingResult.human_attribute_name(:vote) %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
<% else %>
  <p>
    <%= t('.no_results') %>
  </p>
<% end %>
