<% title t('.title', :name => @agenda.name, :date => l(@agenda.conference.start_date, :format => :no_zone)) %>
<% title_link link_to t('helpers.back.conference'), conference_path(@agenda.conference_id), :class => 'btn btn-mini btn-primary' %>

<div id="agenda_description">
  <%= simple_format @agenda.description %>
</div>

<% if @agenda.voting_session.present? && @agenda.voting_session.voting_results.present? %>
  <div id="results_description">
    <%= simple_format @agenda.voting_session.voting_conclusion %>
  </div>

  <div style="margin: 10px 0;">
    <%= link_to t('helpers.links.add_vote'), '#', :class => 'btn btn-success' %>
  </div>

  <table id="voting_results_datatable" class="display table table-striped table-bordered" 
        data-source="<%= search_voting_results_url(:voting_session_id => @agenda.voting_session.id, :format => :json) %>">
    <thead>
      <tr>
        <th></th>
        <th><%= Delegate.human_attribute_name(:first_name) %></th>
        <th><%= Delegate.human_attribute_name(:title) %></th>
        <th><%= Group.human_attribute_name(:short_name) %></th>
        <th><%= VotingResult.human_attribute_name(:present) %></th>
        <th><%= VotingResult.human_attribute_name(:vote) %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
<% else %>
  <p>
    <%= t('.no_results') %>
  </p>
<% end %>
