<% title t('.title', :name => @conference.name, :date => l(@conference.start_date, :format => :no_zone)) %>

<div id="conference_description">
  <ul>
    <li>
      <strong><%= Conference.human_attribute_name(:start_date) %>:</strong>
      <%= l(@conference.start_date, :format => :no_zone) %>
    </li>
    <li>
      <strong><%= UploadFile.human_attribute_name(:parliament_id) %>:</strong>
      <%= @conference.upload_file.parliament.name %>
    </li>
    <li>
      <strong><%= UploadFile.human_attribute_name(:number_possible_members) %>:</strong>
      <%= @conference.upload_file.number_possible_members %>
    </li>
  </ul>
</div>

  <div id="agenda_laws_only">
    <% if current_user.role?(User::ROLES[:process_files]) %>
      <%= link_to t('helpers.links.edit_conference'), edit_conference_path(@conference.id), :class => 'btn btn-success fancybox' %>
    <% end %>
    <% if params[:laws_only].present? && params[:laws_only] == "false" %>
      <%= link_to t('.view_laws_only'), url_for(params.merge(:laws_only => 'true')), :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to t('.view_all'), url_for(params.merge(:laws_only => 'false')), :class => 'btn btn-primary' %>
    <% end %>
  </div>


<table id="agendas_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_agendas_url(:conference_id => @conference.id, :format => :json) %>">
  <thead>
    <tr>
      <th></th>
      <th><%= Agenda.human_attribute_name(:sort_order) %></th>
      <th><%= Agenda.human_attribute_name(:official_law_title) %></th>
      <th><%= Agenda.human_attribute_name(:law_title) %></th>
      <th><%= Agenda.human_attribute_name(:law_description) %></th>
      <th><%= Agenda.human_attribute_name(:session_number) %></th>
      <th><%= Agenda.human_attribute_name(:registration_number) %></th>
      <th><%= VotingSession.human_attribute_name(:passed_yn) %></th>
      <th><%= VotingSession.human_attribute_name(:quorum) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
