<% title t('.title', :name => @conference.name, :date => l(@conference.start_date, :format => :no_zone)) %>
<% title_link link_to t('helpers.back.files'), root_path(:locale => I18n.locale), :class => 'btn btn-mini btn-primary' %>


<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= Agenda.human_attribute_name(:name) %></th>
      <th><%= VotingSession.human_attribute_name(:passed) %></th>
      <th><%= VotingSession.human_attribute_name(:quorum) %></th>
    </tr>
  </thead>
  <tbody>
    <% @conference.agendas.sort{|x,y| x.sort_order <=> y.sort_order}.each do |agenda| %>
      <tr>
        <td><%= link_to t('helpers.links.view'), agenda_path(agenda.id), :class => 'btn btn-mini' %></td>
        <td><%= agenda.name %></td>
        <td><%= "#{agenda.voting_session.passed_formatted} (#{agenda.voting_session.result1} / #{agenda.voting_session.result3})" if agenda.voting_session %></td>
        <td><%= "#{agenda.voting_session.quorum_formatted} (#{agenda.voting_session.result5})" if agenda.voting_session %></td>
      </tr>
    <% end %>
  </tbody>
</table>
