<% title t('.title', :name => @conference.name, :date => l(@conference.start_date, :format => :no_zone)) %>

  <div id="agenda_laws_only">
    <span data-all="<%= t('.view_all') %>" data-laws="<%= t('.view_laws_only') %>"><%= t('.view_all') %></span>
  </div>


<table id="agendas_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_agendas_url(:conference_id => @conference.id, :format => :json) %>">
  <thead>
    <tr>
      <th></th>
      <th><%= Agenda.human_attribute_name(:name) %></th>
      <th><%= Agenda.human_attribute_name(:session_number) %></th>
      <th><%= Agenda.human_attribute_name(:registration_number) %></th>
      <th><%= VotingSession.human_attribute_name(:passed_yn) %></th>
      <th><%= VotingSession.human_attribute_name(:quorum) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
