<% title t('.title') %>

<% if @voting_result %>

<%= semantic_form_for @voting_result, :url => edit_vote_path(params[:id]), :method => :post do |f| %>
	<%= f.error_messages %>

  <div id="edit_form_heading">
    <p>
      <%= t('.agenda', :name => @voting_result.voting_session.agenda.official_law_title.present? ? @voting_result.voting_session.agenda.official_law_title : @voting_result.voting_session.agenda.name, 
          :date => l(@voting_result.voting_session.agenda.conference.start_date, :format => :no_zone)) %>
    </p>

    <p>
      <%= t('.delegate', :name => @voting_result.delegate.first_name) %>
    </p>  
  </div>

	<%= f.inputs do %>
		<%= f.input :vote, :as => :radio, :collection => [[t('helpers.boolean.y'), 1], [t('helpers.boolean.n'), 3]], :label => false %>
	<% end %>

  <div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<% else %>

  <p>
    <%= t('.not_found') %>
  </p>

<% end %>
