<div class="row">
  <div class="span8">
    <h2><%= t('.laws_header') %></h2>
    <table id="passed_laws_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_passed_laws_url(:format => :json) %>">
      <thead>
        <tr>
          <th><%= Conference.human_attribute_name(:start_date_final) %></th>
          <th><%= Agenda.human_attribute_name(:official_law_title) %></th>
          <th><%= Agenda.human_attribute_name(:law_description) %></th>
          <th><%= VotingSession.human_attribute_name(:result1) %></th>
          <th><%= VotingSession.human_attribute_name(:result3) %></th>
          <th><%= VotingSession.human_attribute_name(:result0) %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="span1">
  </div>
  <div class="span3">
    <h2><%= t('.members_header') %></h2>
    <table id="members_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_members_url(:format => :json) %>">
      <thead>
        <tr>
          <th><%= AllDelegate.human_attribute_name(:name) %></th>
          <th><%= AllDelegate.human_attribute_name(:vote_count) %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
