<%= form_tag process_file_path, :method => :post, :class => "form-inline", :id => 'upload_file', :multipart => true do %>
   <%= error_messages_for @upload_file  %> 
  
  <label class="control-label" for="xml">
    <%= UploadFile.human_attribute_name(:xml) %>
  </label>

  <%= file_field_tag 'xml' %>

  <%= submit_tag t('.upload_btn'), :class => 'btn' %>

  <div id="processing_file_container">
    <div id="processing_file">
      <span id="processing_file_text"><%= t('.processing') %></span>
    </div>
  </div>

<% end %>

<hr />

<% if @upload_files.empty? %>

  <p><%= t('.no_files') %></p>
<% else %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= UploadFile.human_attribute_name(:xml) %></th>
        <th><%= UploadFile.human_attribute_name(:created_at) %></th>
        <th><%= Conference.human_attribute_name(:name) %></th>
        <th><%= Conference.human_attribute_name(:start_date) %></th>
      </tr>
    </thead>
    <tbody>
      <% @upload_files.each do |file| %>
        <tr>
          <td><%= file.xml_file_name %></td>
          <td><%= l file.created_at, :format => :no_zone %></td>
          <td><%= file.conference.name %></td>
          <td><%= l file.conference.start_date, :format => :no_zone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
