<% title t('.title') %>


<table id="passed_laws_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_passed_laws_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= Agenda.human_attribute_name(:official_law_title) %></th>
      <th><%= Agenda.human_attribute_name(:law_description) %></th>
      <th><%= VotingSession.human_attribute_name(:passed_yn) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<table id="members_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_members_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= AllDelegate.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

