<%- model_class_vs = VotingSession -%>
<%- model_class_c = Conference -%>
<%- model_class_a = Agenda -%>
<%- model_class_ad = AllDelegate -%>

<% title t('.title') %>

<div class="row-fluid">
  <div id="parliament_options" class="span8">
    <label><%= model_class_ad.human_attribute_name(:parliament_id) %>:</label>
    <% @parliaments.each_with_index do |p, index| %>
      <label for="<%= p.id%>" class="checkbox inline">
        <%
          checked = false
          checked = true if @parl_ids.present? && @parl_ids.index(p.id.to_s).present?
          checked = true if !@parl_ids.present? && index == 0
        %>
        <%= check_box_tag 'law_parliament_options_checkbox', p.id, checked, :id => p.id, :'data-start' => p.start_year, :'data-end' => p.end_year %>
        <%= p.name_formatted %>
      </label>
    <% end %>
  </div>
  <div id="date_options" class="span4">
    <label><%= model_class_c.human_attribute_name(:start_date_final) %>:</label>
		<%= text_field_tag 'start_date', nil, :class => 'input-small', :placeholder => t('app.common.start_date') %>
		<%= text_field_tag 'end_date', nil, :class => 'input-small', :placeholder => t('app.common.end_date') %>
  </div>
</div>

<table id="passed_laws_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_passed_laws_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= model_class_c.human_attribute_name(:start_date_final) %></th>
      <th><%= model_class_a.human_attribute_name(:public_law_title) %></th>
      <th><%= model_class_a.human_attribute_name(:parliament_id) %></th>
      <th><%= model_class_vs.human_attribute_name(:result1) %></th>
      <th><%= model_class_vs.human_attribute_name(:result3) %></th>
      <th><%= model_class_vs.human_attribute_name(:result0) %></th>
      <th><%= t('helpers.links.not_present2') %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="7">
        <%= t('helpers.links.not_present2_footnote') %>
      </td>
    </tr>
  </tfoot>
  <tbody>
  </tbody>
</table>

<div class="hide_for_crawler"><%= link_to laws_all_path, laws_all_path %></div>

