<%- model_class_vs = VotingSession -%>
<%- model_class_ad = AllDelegate -%>
<%- model_class_vr = VotingResult -%>
<%- model_class_c = Conference -%>
<%- model_class_a = Agenda -%>

<% title t('.title', :name => @agenda.official_law_title.present? ? @agenda.official_law_title : @agenda.name, :date => l(@agenda.conference.start_date, :format => :no_zone)).html_safe %>

<div id="agenda_description">
  <ul>
    <li>
      <strong><%= model_class_c.human_attribute_name(:start_date_final) %>:</strong>
      <%= l(@agenda.conference.start_date, :format => :no_zone) %>
    </li>
    <li>
      <strong><%= model_class_a.human_attribute_name(:parliament_id) %>:</strong>
      <%= @agenda.parliament.name %>
    </li>
    <li>
      <strong><%= model_class_a.human_attribute_name(:public_law_title) %>:</strong>
      <%= @agenda.official_law_title %>
    </li>
    <li>
      <strong><%= model_class_a.human_attribute_name(:law_id) %>:</strong>
      <%= @agenda.law_id %>
    </li>    
    <li>
      <strong><%= model_class_a.human_attribute_name(:law_url_text) %>:</strong>
      <% if @agenda.law_url_text.present? %>
        <%= link_to( 
          t('helpers.links.view'), 
          "#law_url_text", :id => 'fancybox_inline', :class => 'btn btn-mini', :target => :blank) %>
        <div style="display:none;">
          <div id="law_url_text">
            <%= @agenda.law_url_text.force_encoding("UTF-8").html_safe %>
          </div>
        </div>
      <% elsif @agenda.law_file_file_name.present? %>
        <%= link_to( 
          t('helpers.links.view'), 
          @agenda.law_file.url, :id => 'fancybox_pdf', :class => 'btn btn-mini', :target => :blank) %>
      <% end %>
    </li>    
    <% if user_signed_in? && current_user.role?(User::ROLES[:process_files]) && @agenda.is_public%>
      <li>
        <span class="law_is_public">
          <%= t('app.common.made_public_on', :date => l(@agenda.made_public_at, :format => :no_zone)) %>
        </span>
        <%= link_to( 
          t('helpers.links.unpublish'), 
          admin_unpublish_path(@agenda.id), :class => 'btn btn-mini btn-danger',
					:data => { :confirm => I18n.t('.confirm', :default => I18n.t("helpers.links.confirm")) }) %>
      </li>
    <% end %>
  </ul>
  
</div>

<% if @agenda.voting_session.present? && @agenda.voting_session.voting_results.present? %>
  <div id="agenda_counts" class="clear">
    <table class="display table table-striped table-bordered span8">
      <thead>
        <tr>
          <th><%= model_class_vs.model_name.human %></th>
          <th><%= model_class_c.human_attribute_name(:start_date_vote) %></th>
          <th><%= model_class_vs.human_attribute_name(:result1_alt) %></th>
          <th><%= model_class_vs.human_attribute_name(:result3_alt) %></th>
          <% if @agenda.parliament_id == 2 %>
            <th><%= t('helpers.boolean.abstain') %></th>
            <th><%= t('helpers.links.not_present') %></th>
          <% else %>
            <th><%= t('helpers.links.abstain2') %></th>
            <th><%= t('helpers.links.not_present2') %></th>
          <% end %>
        </tr>
      </thead>
      <% if @agenda.parliament_id != 2 %>
        <tfoot>
          <tr>
            <td colspan="6">
              <p>
                <%= t('helpers.links.abstain2_footnote') %>
              </p>
              <p>
                <%= t('helpers.links.not_present2_footnote') %>
              </p>
            </td>
          </tr>
        </tfoot>
      <% end %>
      <tbody>
        <% if !(@agenda.prior_to_all_session_data? || @agenda.is_by_one_session?) %>
          <% if @agenda.session_number1_id.present? %>
            <tr>
              <td>
                <%= t('.session1_summary_header') %>
              </td>
              <td>
                <%= @agenda.session_number1.conference.start_date %>
              </td>
              <td>
                <%= @agenda.session_number1.total_yes %>
              </td>
              <td>
                <%= @agenda.session_number1.total_no %>
              </td>
              <td>
                <%= @agenda.session_number1.total_abstain %>
              </td>
              <td>
                <%= @agenda.session_number1.total_not_present %>
              </td>
            </tr>
          <% end %>
          <% if @agenda.session_number2_id.present? %>
            <tr>
              <td>
                <%= t('.session2_summary_header') %>
              </td>
              <td>
                <%= @agenda.session_number2.conference.start_date %>
              </td>
              <td>
                <%= @agenda.session_number2.total_yes %>
              </td>
              <td>
                <%= @agenda.session_number2.total_no %>
              </td>
              <td>
                <%= @agenda.session_number2.total_abstain %>
              </td>
              <td>
                <%= @agenda.session_number2.total_not_present %>
              </td>
            </tr>
          <% end %>
        <% end %>
        <% if @agenda.prior_to_all_session_data? || @agenda.is_by_one_session? %>
          <tr>
            <td>
              <%= t('.by_one_session_summary_header') %>
            </td>
            <td>
              <%= @agenda.conference.start_date %>
            </td>
            <td>
              <%= @agenda.total_yes %>
            </td>
            <td>
              <%= @agenda.total_no %>
            </td>
            <td>
              <%= @agenda.total_abstain %>
            </td>
            <td>
              <%= @agenda.total_not_present %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td>
              <%= t('.session3_summary_header') %>
            </td>
            <td>
              <%= @agenda.conference.start_date %>
            </td>
            <td>
              <%= @agenda.total_yes %>
            </td>
            <td>
              <%= @agenda.total_no %>
            </td>
            <td>
              <%= @agenda.total_abstain %>
            </td>
            <td>
              <%= @agenda.total_not_present %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
 </div>

  <% if @agenda.prior_to_all_session_data? || @agenda.is_by_one_session? %>
    <table id="voting_results_public_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_voting_results_url(:agenda_public_url_id => @agenda.public_url_id, :get_all_3_sessions => false, :format => :json) %>">
      <thead>
        <tr>
          <th><%= model_class_ad.human_attribute_name(:first_name) %></th>
          <th><%= model_class_vr.human_attribute_name(:vote) %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  <% else %>
    <table id="voting_results_public_datatable" class="display table table-striped table-bordered" 
          data-source="<%= search_voting_results_url(:agenda_public_url_id => @agenda.public_url_id, :format => :json) %>">
      <thead>
        <tr>
          <th><%= model_class_ad.human_attribute_name(:first_name) %></th>
          <th><%= model_class_ad.human_attribute_name(:session1_vote) %></th>
          <th><%= model_class_ad.human_attribute_name(:session2_vote) %></th>
          <th><%= model_class_ad.human_attribute_name(:session3_vote) %></th>
        </tr>
      </thead>
      <% if @agenda.parliament_id != 2 %>
        <tfoot>
          <tr>
            <td colspan="4">
              <p>
                <%= t('helpers.links.abstain2_footnote') %>
              </p>
              <p>
                <%= t('helpers.links.not_present2_footnote') %>
              </p>
            </td>
          </tr>
        </tfoot>
      <% end %>
      <tbody>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>
    <%= t('.no_results') %>
  </p>
<% end %>
