<%- model_class_ad = AllDelegate -%>

<% title t('.title') %>

<div id="parliament_options">
<label><%= model_class_ad.human_attribute_name(:parliament_id) %>:</label>
<% @parliaments.each_with_index do |p, index| %>
  <label for="<%= p.id%>" class="checkbox inline">
    <%= check_box_tag 'member_parliament_options_checkbox', p.id, index == 0 ? true : false, :id => p.id%>
    <%= p.name_formatted %>
  </label>
<% end %>
</div>

<table id="members_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_members_url(:format => :json) %>">
  <thead>
    <tr>
      <th><%= model_class_ad.human_attribute_name(:first_name) %></th>
      <th><%= model_class_ad.human_attribute_name(:parliament_id) %></th>
      <th><%= model_class_ad.human_attribute_name(:vote_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:yes_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:no_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:abstain_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:absent_count) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

