<%- model_class_vs = VotingSession -%>
<%- model_class_ad = AllDelegate -%>
<%- model_class_vr = VotingResult -%>
<%- model_class_c = Conference -%>
<%- model_class_a = Agenda -%>

<% title t('.title', :name => @member.first_name) %>

<h2><%= t('.stats_header') %></h2>
<table id="member_stats" class="display table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class_ad.human_attribute_name(:parliament_id) %></th>
      <th><%= model_class_ad.human_attribute_name(:vote_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:yes_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:no_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:abstain_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:absent_count) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @member.parliament.name_formatted %>
      </td>
      <td>
        <%= @member.vote_count %>
      </td>
      <td>
        <%= @member.yes_count %>
      </td>
      <td>
        <%= @member.no_count %>
      </td>
      <td>
        <%= @member.abstain_count %>
      </td>
      <td>
        <%= @member.absent_count %>
      </td>
    </tr>
  </tbody>
</table>


<h2><%= t('.voting_header') %></h2>
<div class="row-fluid">
  <div id="parliament_options" class="span8">
  </div>
  <div id="date_options" class="span4">
    <label><%= model_class_c.human_attribute_name(:start_date_final) %>:</label>
		<%= text_field_tag 'start_date', params[:start_date], :class => 'input-small', :placeholder => t('app.common.start_date') %>
		<%= text_field_tag 'end_date', params[:end_date], :class => 'input-small', :placeholder => t('app.common.end_date') %>
  </div>
</div>
<table id="member_votes_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_member_votes_url(:id => @member.xml_id, :format => :json) %>">
  <thead>
    <tr>
      <th rowspan="2""><%= model_class_c.human_attribute_name(:start_date_final) %></th>
      <th rowspan="2"><%= model_class_a.human_attribute_name(:public_law_title) %></th>
      <th rowspan="2"><%= model_class_vr.human_attribute_name(:member_present) %></th>
      <th rowspan="2"><%= model_class_vr.human_attribute_name(:member_vote) %></th>

      <th colspan="4" class="header-center"><%= t('.overall_votes_header') %></th>
    </tr>
    <tr>
      <th><%= model_class_vs.human_attribute_name(:result1) %></th>
      <th><%= model_class_vs.human_attribute_name(:result3) %></th>
      <% if @member.parliament_id == 2 %>
        <th><%= model_class_vs.human_attribute_name(:result0) %></th>
        <th><%= t('helpers.links.not_present') %></th>
      <% else %>
        <th><%= t('helpers.links.abstain2') %></th>
        <th><%= t('helpers.links.not_present2') %></th>
      <% end %>
    </tr>
  </thead>
  <% if @member.parliament_id != 2 %>
    <tfoot>
      <tr>
        <td colspan="8">
          <p>
            <%= t('helpers.links.abstain2_footnote') %>
          </p>
          <p>
            <%= t('helpers.links.not_present2_footnote') %>
          </p>
        </td>
      </tr>
    </tfoot>
  <% end %>
  <tbody>
  </tbody>
</table>

