<%- model_class_vs = VotingSession -%>
<%- model_class_vr = VotingResult -%>
<%- model_class_c = Conference -%>
<%- model_class_a = Agenda -%>

<% title t('.title', :name => @member.first_name) %>

<table id="member_votes_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_member_votes_url(:id => @member.xml_id, :format => :json) %>">
  <thead>
    <tr>
      <th><%= model_class_c.human_attribute_name(:start_date_final) %></th>
      <th><%= model_class_a.human_attribute_name(:official_law_title) %></th>
      <th><%= model_class_vs.human_attribute_name(:passed) %></th>
      <th><%= model_class_vs.human_attribute_name(:result1) %></th>
      <th><%= model_class_vs.human_attribute_name(:result3) %></th>
      <th><%= model_class_vs.human_attribute_name(:result0) %></th>
      <th><%= t('helpers.links.not_present2') %></th>
      <th><%= model_class_vr.human_attribute_name(:member_present) %></th>
      <th><%= model_class_vr.human_attribute_name(:member_vote) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

