<%- model_class_ad = AllDelegate -%>

<% title t('.title') %>

<% if params[:law_title].present? %>
  <div id="double_search">
    <%= t('.double_search', :law_title => params[:law_title]) %>
  </div>
<% end %>

<div id="parliament_options">
<label><%= model_class_ad.human_attribute_name(:parliament_id) %>:</label>
<% @parliaments.each_with_index do |p, index| %>
  <label for="<%= p.id%>" class="checkbox inline">
    <%
      checked = false
      checked = true if @parl_ids.present? && @parl_ids.index(p.id.to_s).present?
      checked = true if !@parl_ids.present? && index == 0
    %>
    <%= check_box_tag 'member_parliament_options_checkbox', p.id, checked, :id => p.id, :'data-start' => p.start_year, :'data-end' => p.end_year %>
    <%= p.name_formatted %>
  </label>
<% end %>
</div>

<table id="members_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_members_url(:format => :json, :law_title => params[:law_title]) %>">
  <thead>
    <tr>
      <th><%= model_class_ad.human_attribute_name(:first_name) %></th>
      <th><%= model_class_ad.human_attribute_name(:parliament_id) %></th>
      <th><%= model_class_ad.human_attribute_name(:vote_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:yes_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:no_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:abstain_count) %></th>
      <th><%= model_class_ad.human_attribute_name(:absent_count) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="hide_for_crawler"><%= link_to members_all_path, members_all_path %></div>

