<% title t('.title', :session => params[:session]) %>

<div id="final_law_container">
  <h2><%= t('.final_law_header') %></h2>
  <ul>
    <li>
      <strong><%= Agenda.human_attribute_name(:official_law_title) %>:</strong>
      <%= @agenda.official_law_title %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:law_title) %>:</strong>
      <%= @agenda.law_title %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:law_description) %>:</strong>
      <%= @agenda.law_description %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:session_number) %>:</strong>
      <%= @agenda.session_number %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:registration_number) %>:</strong>
      <%= @agenda.registration_number %>
    </li>    
    <li>
      <strong><%= Agenda.human_attribute_name(:name) %>:</strong>
      <%= @agenda.name %>
    </li>
    <li>
      <strong><%= Agenda.human_attribute_name(:description) %>:</strong>
      <%= @agenda.description %>
    </li>    
  </ul>  
</div>

<table id="sessions_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_sessions_url(:session => params[:session], :agenda_id => params[:agenda_id], :match_only => false.to_s, :format => :json) %>">
  <thead>
    <tr>
      <th><%= Agenda.human_attribute_name(:official_law_title) %></th>
      <th><%= Agenda.human_attribute_name(:law_title) %></th>
      <th><%= Agenda.human_attribute_name(:law_description) %></th>
      <th><%= Agenda.human_attribute_name(:session_number) %></th>
      <th><%= Agenda.human_attribute_name(:registration_number) %></th>
      <th><%= VotingSession.human_attribute_name(:passed_yn) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

