<p><%= t('.hello', :email => @resource.email) %></p>

<p><%= t('.p1').html_safe %></p>

<p><%= link_to t('devise.passwords.edit.submit'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale => I18n.locale) %></p>

<p><%= t('.p2').html_safe %></p>

<p><%= t('.p3').html_safe %></p>

